body {
    background-color: #000;
    color: #ffa500; /* оранжевый текст */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
}

input {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    background: #222;
    border: 1px solid #ffa500;
    color: #fff;
    border-radius: 5px;
}

.btn {
    background-color: #ffa500;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

.btn:hover {
    background-color: #ffb733;
}

#posts-container div {
    border-bottom: 1px solid #ffa500;
    padding: 5px 0;
}
